<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
       <listener class-name="com.mapsynq.Listeners.CustomListeners"/>
  </listeners>
  
  <test name="SignInTest" >  
  <classes>
  		 <class name="com.mapsynq.TestCases.SignInTestCase"/>  		 
  </classes>  
  </test> 
  
  <test name="RegisterTest">  
  <classes>
  		 <class name="com.mapsynq.TestCases.RegisterTestCase"/> 
   </classes> 
  </test>
 
  <test  name="GalacTioTest" > 
  <classes>
  		 <class name="com.mapsynq.TestCases.GalatioTestCase"/> 
   </classes>  
  </test> 
  
  <test name="GPSNavigationTestTest" >  
  <classes>
  		 <class name="com.mapsynq.TestCases.GPSNavigationTestCase"/> 
   </classes> 
  </test> 

  
</suite> <!-- Suite -->
